absl-py==2.4.0
accelerate==1.13.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
albumentations==1.1.0
annotated-doc==0.0.4
antlr4-python3-runtime==4.8
anyio==4.13.0
asttokens==3.0.1
async-timeout==5.0.1
attrs==26.1.0
beautifulsoup4==4.14.3
captionizer==1.0.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.1
comm==0.2.3
csv-logger==1.3.0
datasets==2.14.4
debugpy==1.8.20
decorator==5.2.1
diffusers==0.3.0
dill==0.3.7
einops==0.4.1
exceptiongroup==1.3.1
executing==2.2.1
filelock==3.29.0
frozenlist==1.8.0
fsspec==2026.4.0
ftfy==6.3.1
gdown
grpcio==1.80.0
h11==0.16.0
hf-xet
hf_transfer
httpcore==1.0.9
httpx
huggingface_hub
idna==3.15
ImageIO==2.37.3
importlib_metadata==9.0.0
ipykernel==7.2.0
ipywidgets==8.1.8
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
kornia==0.6.7
lazy-loader==0.5
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mdurl==0.1.2
modelcards==0.1.6
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.15
nest-asyncio==1.6.0
networkx==3.4.2
numpy==1.26.3
omegaconf==2.1.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==26.2
pandas==2.3.3
parso==0.8.6
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.9.4
prompt_toolkit==3.0.52
propcache==0.5.2
protobuf==7.34.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==24.0.0
pyDeprecate==0.7.0
Pygments==2.19.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytorch-lightning==1.7.6
pytz==2026.2
PyYAML==6.0.3
pyzmq==27.1.0
qudida==0.0.4
regex==2026.5.9
requests==2.34.2
rich==14.3.3
safetensors
scikit-image==0.24.0
scikit-learn==1.7.2
scipy==1.15.3
setuptools==76.0
shellingham==1.5.4
six==1.17.0
soupsieve==2.8.3
stack-data==0.6.3
sympy==1.14.0
threadpoolctl==3.6.0
tifffile==2025.5.10
tokenizers==0.13.3
torch==2.12.0
torchcodec
torchmetrics==0.11.3
torchvision
tornado==6.5.5
traitlets==5.14.3
transformers==4.30
typer==0.24.1
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
wcwidth==0.7.0
Werkzeug==3.1.8
widgetsnbextension==4.0.15
xxhash==3.7.0
yarl==1.23.0
zipp==3.23.1
-e git+https://github.com/openai/CLIP.git@d05afc436d78f1c48dc0dbf8e5980a9d471f35f6#egg=clip
-e git+https://github.com/CompVis/taming-transformers.git@3ba01b241669f5ade541ce990f7650a3b8f65318#egg=taming_transformers
-e .
